In [1]:
import pandas as pd
data = pd.read_csv("CapstoneData.csv",error_bad_lines=False)
data.head()

C:\Users\jim\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,PROCESSORACCOUNT,OURACCOUNT,POSTAMOUNT,POSTSUCCESS,HOLDACTION,DUPLICATEFLAG,TRANSACTIONCODE,RESPONSECODEIN,RESPONSECODEOUT,AUTHIDRESPONSE,...,CASHBACKAMOUNT,CARDACCEPTORCITY,CARDACCEPTORCOUNTRY,CARDACCEPTORIDCODE,CARDACCEPTORNAME,CARDACCEPTORSTATE,CARDACCEPTORSTREET,FraudFlag,TIME,NORMTIME
0,4.890000e+15,3243617280,50.00,0,0,0,2000,NaN,2012,12461,...,0.0,FORT WRIGHT,US,7660002867,WAL Wal-Mart Store 441780,KY,3450 VALLEY PLAZA,1,16454512,0.721230
1,4.890000e+15,6585869887,50.00,1,0,0,2000,NaN,0,12461,...,0.0,FORT WRIGHT,US,7660002867,WAL Wal-Mart Store 441780,KY,3450 VALLEY PLAZA,1,16454572,0.721233
2,4.890000e+15,1898540429,428.00,0,1,0,3000,NaN,0,42316,...,0.0,DEWITT,US,4.45E+12,US MEIJER #209,MI,MEIJER #209,1,22515958,0.987918
3,4.890000e+15,1898540429,191.04,0,1,0,3000,NaN,0,42316,...,0.0,DEWITT,US,4.45E+12,US MEIJER #209,MI,MEIJER #209,1,22517158,0.987971
4,4.890000e+15,1898540429,34.68,0,1,0,3000,NaN,0,42316,...,0.0,MASON,US,5.43E+14,US SPEEDWAY 02234 N C,MI,SPEEDWAY 02234 N C,1,22521358,0.988156

In [2]:
from sklearn.model_selection import train_test_split
data = data.reset_index()
Y = data["FraudFlag"]
X= data.drop(['OURACCOUNT',
               'LOCALTRANTIME',
               'LOCALTRANDATE',
               'TRACENUMBER',
               'REFERENCENUMBER',
               'OURTRANSMISSIONTIME',
               'OURTRANSMISSIONDATE',
              'CARDACCEPTORCITY',
              'CARDACCEPTORCOUNTRY',
              'CARDACCEPTORIDCODE',
              'CARDACCEPTORNAME',
              'CARDACCEPTORSTATE',
              'CARDACCEPTORSTREET',
              'RESPONSECODEIN',
              'TIME',
              'OURTRANCODE',
              'AUTHIDRESPONSE'
                   ], axis=1)

In [3]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
X_train.head()

,index,PROCESSORACCOUNT,POSTAMOUNT,POSTSUCCESS,HOLDACTION,DUPLICATEFLAG,TRANSACTIONCODE,RESPONSECODEOUT,DEVICETYPE,ROUTINGCODE,...,OURRESPONSECODE,FORCEPOST,CURRENCYINDEX,CURRENCYAMOUNT,ISAFEEAMOUNT,CCAFEEAMOUNT,ICAFEEAMOUNT,CASHBACKAMOUNT,FraudFlag,NORMTIME
59922,59922,4.890000e+15,2.00,1,3,0,2000,0,1,0,...,0,1,0,0.0,0.0,0,0,0.0,0,0.196125
61207,61207,4.890000e+15,12.88,0,1,0,2000,0,1,0,...,0,0,0,0.0,0.0,0,0,0.0,0,0.416694
3011,3011,4.890000e+15,32.00,1,3,0,2000,0,1,0,...,0,1,0,0.0,0.0,0,0,0.0,0,0.532780
50359,50359,4.890000e+15,16.21,1,3,0,2000,0,1,0,...,0,1,0,0.0,0.0,0,0,0.0,0,0.880461
6196,6196,4.890000e+15,13.99,1,0,0,502000,0,1,0,...,0,0,0,0.0,0.0,0,0,0.0,0,0.717824

In [4]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest

rng = np.random.RandomState(42)

clf = IsolationForest(random_state=rng, )

clf.fit(X_train, y_train)
y_pred_train = clf.predict(X_train)
y_pred_test = clf.predict(X_test)

C:\Users\jim\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d
C:\Users\jim\Anaconda3\lib\site-packages\scipy\stats\stats.py:1713: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  return np.add.reduce(sorted[indexer] * weights, axis=axis) / sumval

In [5]:
from sklearn.metrics import confusion_matrix
test=[]
for val in y_pred_test:
    if val == 1:
        test.append(0)
    else:
        test.append(1)

confusion_matrix(y_test,test)

array([[16145,  1794],
       [    0,    16]], dtype=int64)

In [6]:
from sklearn.externals import joblib
joblib.dump(clf, 'isoforest.joblib')

['isoforest.joblib']